.container_pai {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 20px;
    align-items: center;
}

/*  subtitulo  */
.subtitulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subtitulo H2 {
    font-size: 30px;
}


/* cards */

.container_imagens {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: center;
}

.container_imagens figure {
    flex: 1 1 400px;
    height: 400px;
    padding: 20px 10px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 3%;
    justify-content: space-between;
    box-shadow: black 2px 2px 20px -4px;
}

.imagens {
    width: 90%;
    height: auto;
}

/* legenda dos cards */
.container_imagens figcaption {
    font-weight: bold;
    font-size: 30px;
}
.container_imagens span {
    font-weight: bold;
}

/* lista não ordenada */
.lista ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}